PORT=8788
REQUEST_TIMEOUT_MS=120000
AGENTROUTER_API_KEYS=
GEMINI_API_KEYS=
GROQ_API_KEYS=
HUGGINGFACE_API_KEYS=
MISTRAL_API_KEYS=
OPENROUTER_API_KEYS=
CEREBRAS_API_KEYS=
CLOUDFLARE_API_KEYS=
SAMBANOVA_API_KEYS=
COHERE_API_KEYS=
ZAI_API_KEYS=
AGENTROUTER_BASE_URL=https://agentrouter.org/
